.burn {
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid var(--border-color);
}

.burn img {
  width: 50%;
  display: block;
  margin: 0% auto;
  opacity: 0.8;
}

.burn h2 {
  font-size: 2.5rem;
  font-family: var(--font-header);
  margin-bottom: 1.4rem;
}

.burn h2 span {
  color: var(--bg-red);
  border-bottom: 2px dotted var(--bg-red);
  text-transform: uppercase;
}

.burn p {
  font-size: 0.9rem;
  font-weight: 350;
  color: #ccc;
  line-height: 220%;
  width: 100%;
  max-width: 35rem;
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.burn p span {
  color: var(--bg-red);
  border-bottom: 2px dotted var(--bg-red);
  font-weight: 700;
}
