main {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.border-lines hr {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100vh;
  z-index: 9999;
}

.border-lines hr:first-child {
  left: calc(var(--bs-gutter-x) * 0.7);
}

.border-lines hr:last-child {
  right: calc(var(--bs-gutter-x) * 0.7);
}

@media (min-width: 768px) {
  .border-lines hr:first-child {
    left: calc(var(--bs-gutter-x) * 2.5);
  }

  .border-lines hr:last-child {
    right: calc(var(--bs-gutter-x) * 2.5);
  }
}
