.keynote {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.keynote-single img {
  width: 4rem;
}

.keynote-single > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.4rem;
}

.keynote-single > div hr {
  width: 4rem;
}

.keynote-single > div span {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--border-color);
  font-weight: 700;
}

.keynote-single h3 {
  font-size: 2rem;
  font-family: var(--font-header);
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 150%;
  color: var(--bg-purple);
}

.keynote-single p {
  line-height: 220%;
  font-weight: 300;
  font-size: 0.96rem;
  border-left: 2px solid var(--bg-purple);
  padding: 1rem 1.3rem;
  color: #ccc;
}
