.mission {
  width: 100%;
  background-color: #7f339b19;
  border-bottom: 1px solid var(--border-color);
}

.mission h1 {
  font-family: var(--font-header);
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 2rem;
  text-align: center;
  line-height: 150%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  padding: 2rem;
  color: var(--bg-purple);
}

.mission h1 span {
  color: #fff;
  border-bottom: 1px dotted #fff;
  cursor: pointer;
}

.mission p {
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid var(--border-color);
  padding: 2.6rem 1.8rem;
  font-size: 0.85rem;
  line-height: 270%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
}

.mission p span {
  color: var(--bg-red);
  border-bottom: 1px dotted var(--bg-red);
  cursor: pointer;
}
