:root {
  --border-color: #353539;
  --bg-color: #0a090f;
  --bg-red: #ff0000;
  --bg-green: #00cc66;
  --bg-purple: #80339b;
  --bg-blue: #007bff;
  --font-header: "Orbitron", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --bs-gutter-x: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-body);
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  width: 100%;
  border: none;
  background-color: var(--border-color);
  height: 1px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bg-red {
  background-color: var(--bg-red) !important;
}

.bg-green {
  background-color: var(--bg-green) !important;
}

.bg-blue {
  background-color: var(--bg-blue) !important;
}

.bg-purple {
  background-color: var(--bg-purple) !important;
}

.text-black {
  color: #000 !important;
}

.container-st {
  padding-left: calc(var(--bs-gutter-x) * 0.7);
  padding-right: calc(var(--bs-gutter-x) * 0.7);
}

@media (min-width: 768px) {
  .container-st {
    padding-left: calc(var(--bs-gutter-x) * 2.5);
    padding-right: calc(var(--bs-gutter-x) * 2.5);
  }
}

.gap-0 {
  gap: 1rem;
}

.gap-1 {
  gap: 1.5rem;
}

.position-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}
